/htdocs/node_modules
/htdocs/public/hot
/htdocs/public/storage
/htdocs/storage/*.key
/htdocs/vendor
/htdocs/.idea
/htdocs/.vscode
/htdocs/.vagrant
/htdocs/Homestead.json
/htdocs/Homestead.yaml
/htdocs/npm-debug.log
/htdocs/yarn-error.log
/htdocs/.env
/htdocs/.phpunit.result.cache
/htdocs/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache


manifest.yml